<!DOCTYPE html>
<html>
<head>
    <title>Airbnb Listing in New York City</title>
    <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
      
    th, td {
      border: 1px solid #add;
      padding: 8px;
      text-align: left;
    }
    td
      {
       background-color: #ffc2cd;
      }
    th {
        
      background-color:#ff93ac;
    }
      
    .hidden-row {
      display: none;
    }
      
    #moreBtn {
       position: absolute;
      right: 0;
      margin-top: 10px;
    }
  </style>
</head>
<body>
    <h1 style="font-size:50px; color : #ff084a;"><center>Airbnb Listing in New York City</center></h1>
    <p style="font-size:25px"><center><b><h2>This data illustrates the locations and prices of various Airbnb properties in New York.</h2></b></center></p>

    <div class="table-container">
        <table id="dataTable">
            <thead>
                <tr>
                    <th>Host ID</th>
                    <th>Host since</th>
                    <th>Neighbourhood</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Price</th>
                    <th>Reviews</th>
                </tr>
            </thead>
            <tbody>
                {% for s in airbnb %}
                <tr>
                    <td>{{ s[0] }}</td>
                    <td>{{ s[1] }}</td>
                    <td>{{ s[2] }}</td>
                    <td>{{ s[3] }}</td>
                    <td>{{ s[4] }}</td>
                    <td>{{ s[5] }}</td>
                    <td>{{ s[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

