<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Data</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #fceee9;
            margin: 20px;
            padding: 20px;
        }

        h1, h2 {
            color: #333;
        }

        p {
            color: #555;
            margin-bottom: 10px;
        }

        u {
            color: #007bff;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>About Data</h1>
    <p>For this project, a database was obtained from the following link:</p>
    <p><a href="https://data.world/theresa-tonev/nyairbnblistings" target="_blank">https://data.world/theresa-tonev/nyairbnblistings</a></p>

    <p>Data was collected in 2018; therefore, this is the only year stored in the dataset.</p>

    <h2>Variable Description</h2>

    <p><u>Host ID:</u> A unique identifier assigned to each host. This identifier distinguishes one host from another in the dataset.</p>

    <p><u>Host since:</u> The date when the host joined Airbnb or started hosting properties on the platform. It provides information about the tenure of the host.</p>

    <p><u>Neighbourhood:</u> The neighborhood where the host resides. This variable can provide insights into the host's local community.</p>
    
    <p><u>Latitude:</u> The geographic latitude coordinate of the property. It provides the location information for mapping. </p>
    
    <p><u>Longitude:</u> The geographic longitude coordinate of the property. It complements the latitude and helps specify the exact location of the property. </p>
    
    <p><u>Price:</u> The cost per night to rent the property. It represents the pricing of the listed accommodation.</p>
    
    <p><u>Reviews_per_month:</u> The average number of reviews received by the property per month. It indicates the frequency of guest feedback, reflecting the property's popularity and guest satisfaction.</p>
</body>
</html>